<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
     	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    	http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
     http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- 提供对spring mvc注解、验证支持 -->
	<mvc:annotation-driven />
	<!-- 自动扫描 -->
	<context:component-scan base-package="happylife.controller" />
	<context:component-scan base-package="happylife.service.impl" />
	<context:component-scan base-package="happylife.dao.impl" />
	<context:annotation-config />

	<!-- 定义静态访问文件路径(不让spring拦截) -->
	 <mvc:resources mapping="/staticfile/**" location="./staticfile/"/>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/admin/*" />
			<bean class="happylife.interceptor.AdminInterceptor" />
		</mvc:interceptor>
	    <mvc:interceptor>
			<mvc:mapping path="/wechatuser/*" />
			<bean class="happylife.interceptor.WeChatUserInterceptor" />
		</mvc:interceptor>
	    <mvc:interceptor>
			<mvc:mapping path="/mchuser/*" />
			<bean class="happylife.interceptor.MchUserInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 控制spring跳转页面的路径是/WEB-INF/jsps/( 中间的一些中径/xxx ).jsp -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 引入JSTL标签库 -->
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!-- 路径前辍 -->
		<property name="prefix" value="/WEB-INF/jsps/" />
		<!-- 路径后辍 -->
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">     
         <property name="exceptionMappings">     
             <props>     
                 <prop key="java.lang.Exception">500</prop>     
                 <prop key="java.lang.Throwable">500</prop>     
             </props>     
         </property>     
         <property name="statusCodes">     
             <props>     
                 <prop key="errors/error">500</prop>     
                 <prop key="errors/404">404</prop>     
             </props>     
         </property>     
         <!-- 设置日志输出级别，不定义则默认不输出警告等错误日志信息 -->     
         <property name="warnLogCategory" value="WARN"></property>     
         <!-- 默认错误页面，当找不到上面mappings中指定的异常对应视图时，使用本默认配置 -->     
         <property name="defaultErrorView" value="errors/error"></property>     
         <!-- 默认HTTP状态码 -->     
         <property name="defaultStatusCode" value="500"></property>     
     </bean>     


	<!-- 另外最好还要加入DefaultAnnotationHandlerMapping，不然会被 XML或其它的映射覆盖！ -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<!-- 支持上传文件 
  
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="5242880" />
	</bean>
	 -->

	<bean id="beanNameAutoProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>*ServiceImpl</value>
			</list>
		</property>
	</bean>
</beans>
