@charset "utf-8";
/*js插件需要的css*/

/*分页*/
.TM_page{width:100%;padding:0; margin:0;}
.TM_onePage{display:block; width:28px; height:28px; line-height:28px; text-align:center; background:#c5d2e1; float:left; margin-right:3px;-moz-border-radius:4px;-webkit-border-radius:4px; border-radius:4px; color:#7e9dc1; cursor:pointer;padding:0;font-size:12px;}
.TM_nowPage{display:block; background:#7e9dc1; color:#2a3542; cursor:default;padding:0;}
.TM_changePage{display:block; width:70px; height:28px; line-height:28px; text-align:center; background:#c5d2e1; float:left; margin-right:3px;-moz-border-radius:4px;-webkit-border-radius:4px; border-radius:4px; cursor:pointer;padding:0; color:#7e9dc1; font-size:12px;}
.TM_noNext{background:#c7c7c7; display:block; width:70px; height:28px; line-height:28px; text-align:center; float:left; margin-right:3px;-moz-border-radius:4px;-webkit-border-radius:4px; border-radius:4px;padding:0; color:#fff; font-size:12px; cursor:default;}
.TM_page_point{float:left;padding:0; color:#7e9dc1;}
.TM_onePage:hover{color:#2a3542}
.TM_changePage:hover{color:#2a3542}

/*confirm*/
.TM_confirm_cover{width:100%;padding:0; margin:0; height:100%;position:fixed; top:0; left:0;filter:alpha(opacity=0); -moz-opacity:0; opacity:0;z-index:999; background:#000;}
.TM_confirm_box{padding:0; margin:0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;width:250px; position:fixed; z-index:999;left:40%;top:40%; background:#fff;-moz-box-shadow:0 0 4px #7e9dc1;-webkit-box-shadow:0 0 4px #7e9dc1;box-shadow:0 0 4px #7e9dc1;filter:alpha(opacity=0); -moz-opacity:0; opacity:0;}
.TM_confirm_h1{padding:0; margin:0;line-height:20px;font-weight:bold; text-align:center;}
.TM_confirm_p{padding:20px 30px; text-align:left;}
.TM_confirm_box span{padding:0; margin:0;color:#fff;}
.TM_confirm_buttonBox{padding:0; margin:0;}
.TM_confirm_buttonBox a{float:right;margin:0 10px 10px 0px; display:inline-block;}

.TM_confirm_btnOk{ display:inline-block;color:#fff; background:#7e9dc1;padding:2px 15px; font-size:12px; border:none;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; position:relative;-moz-user-select: none; /*火狐*/-webkit-user-select: none; /*webkit浏览器*/-ms-user-select: none; /*IE10*/-khtml-user-select: none; /*早期浏览器*/
user-select: none; }
.TM_confirm_btnOk:hover{background:#688ab2;}
.TM_confirm_btnOk:active{background:#2a3542;}
.TM_confirm_btnQuit{ display:inline-block;color:#fff; background:#7e9dc1;padding:2px 15px; font-size:12px; border:none;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; position:relative;-moz-user-select: none; /*火狐*/-webkit-user-select: none; /*webkit浏览器*/-ms-user-select: none; /*IE10*/-khtml-user-select: none; /*早期浏览器*/
user-select: none; }
.TM_confirm_btnQuit:hover{background:#688ab2;}
.TM_confirm_btnQuit:active{background:#2a3542;}

/*alert*/
.TM_alert_cover{
	padding:0; margin:0;
	width:100%; height:100%; 
	position:fixed; top:0; left:0;
    filter:alpha(opacity=0); -moz-opacity:0; opacity:0;z-index:999; background:#000;
	z-index:999;	
}
.TM_alert_box{
	padding:0; margin:0;
	position:fixed;
	z-index:999;
	top:40%;
	left:40%;
	width:250px; background:#fff;
	-moz-box-shadow:0 0 4px #7e9dc1;-webkit-box-shadow:0 0 4px #7e9dc1;box-shadow:0 0 4px #7e9dc1; font-size:14px;
	-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	filter:alpha(opacity=0); -moz-opacity:0; opacity:0;
}
.TM_alert_h1{
	padding:0; margin:0;
	font-size:12px; line-height:20px; color:#666; min-height:0px;
	font-weight:normal; text-align:center;
}
.TM_alert_p{
	padding:0; margin:0; color:#2a3542;
	padding:20px 30px; font-size:12px; text-align:left;
}
.TM_alert_box span{
	padding:0; margin:0;
	font-weight:normal; color:#fff;
}
.TM_alert_buttonBox a{
	margin:0 10px 10px 0px;
	color:#fff; display:inline-block; float:right;
}
.TM_alert_buttonBox{text-align:center;padding:0; margin:0;}
.TM_alert_btnOk{ display:inline-block;color:#fff; background:#7e9dc1;padding:2px 15px; font-size:12px; border:none;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; position:relative;-moz-user-select: none; /*火狐*/-webkit-user-select: none; /*webkit浏览器*/-ms-user-select: none; /*IE10*/-khtml-user-select: none; /*早期浏览器*/
user-select: none; }
.TM_alert_btnOk:hover{background:#688ab2;}
.TM_alert_btnOk:active{background:#2a3542;}

/*进度条*/
.progress_show_box{padding:0; margin:0; display:none; position:fixed;z-index:99; background:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; width:170px; height:50px; top:40%; left:40%; border:solid 1px #ecf0f5;-moz-box-shadow:0 0 2px #c5d2e1;-webkit-box-shadow:0 0 2px #c5d2e1;
box-shadow:0 0 2px #c5d2e1;}
.progress_show_div{margin:0; padding:0; width:90%; height:5px; margin:5px 5%;background:#CC6; position:relative;}
.progress_show_title{margin:0; padding:0;color:#6a7b8f; width:100%; height:20px; margin:8px auto 0 auto; text-align:center;}
.progress_show_d1{margin:0; padding:0;width:100%; height:100%; background:#6a7b8f; color:white; text-align:center; z-index:12; position:absolute; line-height:20px; top:0; left:0;clip:rect(0 0 10px 0);}
.progress_show_d2{margin:0; padding:0;width:100%; height:100%; color:black; background:#bccbde;text-align:center; z-index:11; position:absolute;line-height:20px; left:0; top:0;}
/*加载中-loading样式*/
.TM_loading_box{
	padding:0; margin:0; position:fixed;z-index:999; background:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; width:170px; height:50px; top:40%; left:40%; border:solid 1px #ecf0f5;-moz-box-shadow:0 0 2px #c5d2e1;-webkit-box-shadow:0 0 2px #c5d2e1;
box-shadow:0 0 2px #c5d2e1;
}
.TM_loading_title{margin:0; padding:0;color:#6a7b8f; width:100%; height:20px; margin:8px auto 0 auto; text-align:center;}
.TM_loading_div{margin:0; padding:0; width:90%; height:5px; margin:5px 5%;background:#CC6; position:relative;}
.TM_loading_long{margin:0; padding:0;width:100%; height:100%; background:#bccbde; color:white; text-align:center; z-index:12; line-height:20px; overflow:hidden; position:relative;}
.TM_loading_short{margin:0; padding:0;width:50%; height:100%; color:black; background:#6a7b8f; text-align:center; z-index:13; position:absolute;line-height:20px; left:0; top:0;}
/*上传按钮样式*/
.uploadButton{
	width:60px; height:22px; line-height:22px; 
	text-align:center; color:#FFF; display:inline-block; 
	background:#36F; position:relative;
	font-size:13px;
}
.uploadButton:hover{
	background:#0CF;	
}
.inputFile{
	position:absolute; top:0; left:0;
	width:100%; height:100%; z-index:10;
	filter:alpha(opacity=0); -moz-opacity:0; opacity:0;	
	overflow:hidden;
	font-size:300px;
	line-height:300px;
}

/*气泡--现在的样式是twitter*/

.tip-twitter {
	opacity:0.8;
	z-index:1000;
	text-align:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:8px 8px;
	max-width:200px;
	color:#fff;
	background-color:#000;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-twitter div,.tip-twitter span{color:#fff}
.tip-twitter .tip-inner{
	font:normal 11px/14px 'Lucida Grande',sans-serif; 
	color:#fff;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-twitter .tip-arrow-top {
	margin-top:-5px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:5px;
	background:url(../images/tip-twitter_arrows.gif) no-repeat;
	color:#fff;
}
.tip-twitter .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:5px;
	height:9px;
	background:url(../images/tip-twitter_arrows.gif) no-repeat -9px 0;
	color:#fff;
}
.tip-twitter .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:5px;

	background:url(../images/tip-twitter_arrows.gif) no-repeat -18px 0;
	color:#fff;
}
.tip-twitter .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-5px;
	top:50%;
	left:0;
	width:5px;
	height:9px;
	background:url(../images/tip-twitter_arrows.gif) no-repeat -27px 0;
	color:#fff;
}

/*弹出框colorBox*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:99; overflow:hidden;-moz-box-shadow:0 0 10px #5f7288;-webkit-box-shadow:0 0 10px #5f7288;box-shadow:0 0 10px #5f7288; -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
#cboxWrapper{ -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}

#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
/*Colorbox User Style:Change the following styles to modify the appearance of Colorbox*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#cboxContent{background:#fff;}
.cboxIframe{}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{padding-top:50px;}
#cboxTitle{position:absolute; top:0; left:0; color:#7e9dc1; font-size:16px; display:block; width:100%; height:50px; line-height:50px; text-indent:15px;}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
 /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../images/controls.png) no-repeat 0 -15px; width:36px; height:36px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:0 -80px;}
#cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../images/controls.png) no-repeat -65px -15px; width:36px; height:36px; text-indent:-9999px;}
#cboxNext:hover{background-position:-65px -80px;}
#cboxClose{position:absolute; top:18px; right:5px; display:block; background:url(../images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
#cboxClose:hover{background-position:bottom center;}

/*交互操作信息反馈*/
/*操作成功*/
.tipsInfSuccess{ position:fixed; z-index:999; top:45%; left:45%; padding:10px 25px; z-index:99;-moz-box-shadow:0 0 4px #c5d2e1;-webkit-box-shadow:0 0 4px #c5d2e1;box-shadow:0 0 4px #c5d2e1; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; background:#fff; color:#7e9dc1; text-indent:25px; z-index:999;}
.tipsInfSuccess span.icon{ position:absolute; top:13px; left:25px; width:16px; height:16px; overflow:hidden; background:url(../images/icon.png) -206px -30px; margin-right:10px;}
/*操作失败*/
.tipsInfFalse{ position:fixed; top:45%; left:45%; padding:10px 25px;-moz-box-shadow:0 0 4px #c5d2e1;-webkit-box-shadow:0 0 4px #c5d2e1;box-shadow:0 0 4px #c5d2e1; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; background:#fff; color:#999; text-indent:25px; z-index:999}
.tipsInfFalse span.icon{ position:absolute; top:13px; left:25px; width:16px; height:16px; overflow:hidden; background:url(../images/icon.png) -223px -30px; margin-right:10px;}
#cboxClose:hover{background-position:bottom center;}

/**/
/*图片上传插件 上传后图片的列表*/
.oneUploadImg{ padding:2%; width:96%; height:auto; overflow:auto;}
	.oneUploadImg .cover{ max-height:80px; width:20%; height:100px; overflow:hidden; background:#c5d2e1; float:left;}
	.oneUploadImg .cover img{ width:100%; height:auto;}
	.oneUploadImg .inf{ float:left; width:60%;padding-left:3%;}
	.oneUploadImg .inf textarea{ margin:0 0 5px 0; width:350px; height:65px;}
	.oneUploadImg .inf input{ margin:0 0 5px 0; width:350px; }
	.oneUploadImg .ctrl{ float:right; width:17%; padding-top:30px;text-align:right;}
		
/*TM select--tab---radio样式*/

/*select*/
.TM_select_box{width:100px;padding:0; margin:0;}
.TM_select{background:#c5d2e1; padding:0; margin:0; height:28px; color:#7e9dc1; text-align:left; font-size:13px; line-height:28px; text-indent:10px; position:relative; width:100px; cursor:default;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.TM_select .TM_select_titleLeft{padding:0; margin:0;height:28px; font-size:13px; line-height:28px;position:absolute; display:block; color:#2a3542; max-width:80%; overflow:hidden;}
.TM_select .TM_select_titleRight{padding:0; margin:0;height:28px; font-size:15px; line-height:28px; position:absolute; top:0px; display:block; right:3px;
background:url(../images/selectRadio.png) -36px 6px no-repeat; width:22px;
}
.TM_select_menu{padding:0; margin:0;background:#ecf0f5; width:100px; margin-top:2px; height:125px; overflow:hidden; display:none;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; position:absolute; z-index:999;}
.TM_select_menuBox{position:absolute; left:0; top:0px; padding:0; margin:0;}
.TM_select_oneMenu{padding:0; margin:0; height:28px; line-height:28px; cursor:default; color:#7e9dc1; font-size:12px; display:block; padding-left:10px; overflow:hidden; width:90%;}
.TM_select_oneMenu span{padding:0 20px 0 10px;}
.TM_select_dragBox{position:absolute; width:30px; height:30px; right:0; top:0px; cursor:pointer; padding:0; margin:0; margin-top:5px}
.TM_select_drag{width:3px; height:30px; padding:0; margin:0; background:#7e9dc1;cursor:pointer; margin:auto;}
.TM_select_oneMenu:hover{color:#2a3542;}
.TM_select_now{color:#2a3542;}

/*tab*/
.TM_tab_box{border-bottom:solid 1px #c5d2e1; margin:0; padding:0; width:100%;}
.TM_tab{height:28px; background:#ecf0f5; margin-right:1px; padding:0 20px; display:inline-block; -moz-border-radius:4px 4px 0px 0px;-webkit-border-radius:4px 4px 0px 0px;border-radius:4px 4px 0px 0px; line-height:28px; color:#7e9dc1;}
.TM_tab_box .TM_tab_select{background:#c5d2e1; color:#2a3542}
.TM_tab_box .noMarginRight{margin-right:0}
.TM_tab_box a.TM_tab:hover{color:#2a3542}

/*radio*/
.TM_radioBox{ margin:0; padding:5px 0;}
.TM_radio_noUse{width:18px; height:18px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; display:inline-block;background:url(../images/selectRadio.png) 0 0 no-repeat; padding:5px 0}
.TM_radio_use{width:18px; height:18px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; display:block; background:url(../images/selectRadio.png) -18px 0px no-repeat; padding:5px 0}
.TM_radio_span{cursor:pointer; display:inline-block;}
.TM_radio{float:left;}
.TM_radioBox .TM_radio_txt{height:18px; font-size:12px; margin:0 20px 0 5px; display:block; text-align:center; line-height:18px; float:left; }

/*TM.colorBox*/
.TM_colorBox_cover{width:100%; padding:0; margin:0; height:100%;position:fixed; top:0; left:0; filter:alpha(opacity=0); -moz-opacity:0; opacity:0;z-index:999; background:#000}
.paddingBottom40{padding-bottom:40px}
.TM_colorBox{position:fixed; top:25%; left:30%; z-index:999;-moz-box-shadow:0 0 4px #7e9dc1;-webkit-box-shadow:0 0 4px #7e9dc1;box-shadow:0 0 4px #7e9dc1; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; background:#fff; color:#7e9dc1; width:400px; overflow:hidden; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; margin:0; padding:0;}
.TM_colorBox_head{ margin:0; padding:0; padding:10px; height:15px; font-weight:bold; line-height:15px; border-bottom:solid 1px #ecf0f5; background:#f6f9fc}
.TM_colorBox .close{background:url(../images/controls.png) -35px -130px; display:block; width:28px; height:28px; position:absolute; right:5px; top:10px; cursor:pointer;}
.TM_colorBox_main{ margin:0; padding:0; padding:10px; margin:0; overflow:auto}
.TM_colorBox_foot{ margin:0; padding:0; position:absolute; bottom:0px; text-align:right;width:100%; border-top:solid 1px #ecf0f5; background:#f6f9fc; height:40px;}
.TM_colorBox_btnOk{margin-right:10px; margin-top:6px;}
.TM_colorBox_btnQuit{margin-right:8px; margin-top:6px;}

/*input*/
input.placeholder{color:#999}




/*confirm*/
.TM_Confirm_cover{width:100%;padding:0; margin:0; height:100%;position:fixed; top:0; left:0;filter:alpha(opacity=0); -moz-opacity:0; opacity:0;z-index:999; background:#000;}
.TM_Confirm_box{padding:0; margin:0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;width:250px; position:fixed; z-index:999;left:40%;top:40%; background:#fff;-moz-box-shadow:0 0 4px #7e9dc1;-webkit-box-shadow:0 0 4px #7e9dc1;box-shadow:0 0 4px #7e9dc1;filter:alpha(opacity=0); -moz-opacity:0; opacity:0;}
.TM_Confirm_h1{padding:0; margin:0;line-height:20px;font-weight:bold; text-align:center;}
.TM_Confirm_p{padding:20px 30px; text-align:left;}
.TM_Confirm_box span{padding:0; margin:0;color:#fff;}
.TM_Confirm_buttonBox{padding:0; margin:0;}
.TM_Confirm_buttonBox a{float:right;margin:0 10px 10px 0px; display:inline-block;}

.TM_showInfoBox{position:fixed;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; padding:20px; z-index:999; text-align:center; min-width:200px; overflow:hidden;}
.TM_showInfoCover{position:absolute; top:0; left:0; width:100%; height:100%; background:#000;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; opacity:0.8;filter:alpha(opacity=80); z-index:9;}
.TM_showInfo{font-size:20px; position:relative; z-index:19;}
