body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td  {margin:0;padding:0;font-family: 'Microsoft YaHei', '微软雅黑';}
body,button,input,select,textarea{font:12px/1.5tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;}
/*a:hover{text-decoration:underline;}*/
a:link {
 text-decoration: none;/*无下划线*/
}
a:visited {
 text-decoration: none;/*无下划线*/
}
a:hover {
 text-decoration: none;/*无下划线*/
}
a:active {
 text-decoration: none;/*无下划线*/
}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
input,select,textarea,button {
	margin: 0;
	padding: 0;
	border: 0;
    filter:chroma(color=#000000);
    outline:none;
}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
i{
    font-style:normal
}
.bg{
	width: 100%;
	height: 5px;
	background: #dfdfdf;
}
.zhid{
	padding: .2rem .19rem .1rem;
	position: fixed;
    right: .28rem;
    bottom: 1.5rem;
    background: #fffff8;
    box-shadow: 0px 0px 12px #e5e5e5;
    border-radius: 50%;
}
.zhid .icon{
	width: .8rem;
	height: .8rem;
	fill: #808080;
}
.bgF{
    background: #fff;
}

.boxShadow{
    box-shadow: 0px 5px 10px #ccc;
    border-radius: .1rem;
}
.onload a{
    visibility: hidden;
}

.tiShi{
    width: 100%;
    font-size: .28rem;
    line-height: 1rem;
    color: #EC5D2F;
}
.bg5{
    background: #f3f3f3;
    height: 12px;
}



/*殡仪套餐样式*/
.bytc{
    padding: 0 .3rem;
}
#bzyp .bysj .bytc li{
    position: relative;
    margin-bottom: .3rem;
    height: 4.58rem;
}
#bzyp .bysj .bytc li img{
    border-radius: 4px;
    width: 100%;
    display: block;
}
#bzyp .bysj .bytc li>a>div{
    width: 100%;
    bottom: 0rem;
    left: 0rem;
    color: #505050 ;
    text-align: left;
    padding: .2rem 0;
}
#bzyp .bysj .bytc li>a>div span{
    font-size: .28rem;
}
#bzyp .bysj .bytc li>a>div span.title{
    font-size: .38rem;
    margin-bottom: .08rem;
    display: inline-block;
}
#bzyp .bysj .bytc li>a>div span.jiag{
    font-size: .48rem;
    color: #CA911C;
    float: right;
    margin-top: -.3rem;
}
#bzyp .bysj .bytc li>a>div span.bor{
    border: 1px solid #CA911C;
    border-radius: 2px;
    padding: 0rem .08rem;
    color: #CA911C;
}
#bzyp .bysj ul.content{
    overflow: hidden;
}
#bzyp .bysj ul.content li p{
    width: 100%;
    color: #666666;
    text-align: justify;
    font-size: .28rem;
    line-height: .38rem;
    margin-top: .13rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    float: left;
}
#bzyp .bysj ul.content li p button{
    float: initial;
    padding: 0rem .05rem;
    margin-left: -.12rem;
}
#bzyp .bysj ul.content li span{
    border: none;
    /*padding:0rem;*/
    text-align: center;
}

#bzyp .bysj ul.content li span.left{
    float: left;
    font-size: .38rem;
    color: #fb4530;
    margin-left: -.1rem;
    padding: 0rem;
}
.bysj ul.content li div.content.bsbs{
    padding: .3rem .2rem .12rem;
}
#bzyp .bysj ul.content li button{
    float: right;
    background: none;
    border: 1px solid #ae7018;
    color: #b9914c;
    border-radius: 2px;
    font-size: .28rem;
    padding: .01rem .12rem;
}
#bzyp .bysj ul.content li span.right{
    float: right;
    margin-top: .13rem;
    padding: 0rem;
}


.swiper-pagination-fraction.shuzi{
    width: 1.2rem;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: .05rem .1rem;
    border-radius: 4px;
    left: 5rem;
}
.swiper-pagination-fraction.shuzi .swiper-pagination-current{
    color: #F1AD48;
}