<style>
    .album {
        height: 3.9rem;
        position: relative;
        overflow: hidden;
    }

    .album img {
        width: 100%;
        min-height: 100%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        top: 50%;
        position: relative;
    }

    .toutu {
        position: relative;
        overflow: hidden;
    }
    .toutu:after {
        content: '';
        height: 2.22rem;
        position: absolute;
        bottom: 0;
        left:0;
        right: 0;
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.3) 64%, transparent);
    }

    .toutu .desc{
        bottom: .24rem;
        left:.3rem;
        right: .3rem;
        text-shadow: 1px 1px 1px #000;
        color: #fff;
        z-index: 1;
        position: absolute;
    }
    .toutu h1 {
        font-size: .38rem;
        margin-bottom: .14rem;
    }
    .toutu .desc span{
        font-size: .28rem;
        line-height: .36rem;
    }

    ul.ul {
        list-style-type: initial;
        padding-left: .4rem;
    }

    ul.ul li {
        font-size: .3rem;
        margin: .1rem 0;
        line-height: 1.5;
    }

    /*///*/
    #deal-detail .buy-price {
        color: #999;
        position: relative;
        width: 100%;
        background-color: #fff;
        box-sizing: border-box;
    }

    .buy-price .price {
        vertical-align: text-top;
    }

    .buy-price strong {
        font-size: .66rem;
    }

    .buy-price space {
        width: .16rem;
    }

    .list .buy-price .buy-btn {
        position: absolute;
        margin: 0;
        right: .2rem;
        top: .21rem;
        width: 2.6rem;
        margin-top: 0;
    }
    .buy-btn.dark{
        background: #999999 !important;
    }
    /*agreement*/
    .agreement li {
        display: inline-block;
        width: 50%;
        margin-bottom: .22rem;
        box-sizing: border-box;
        color: #666;
    }

    .agreement li:nth-child(2n) {
        padding-left: .14rem;
    }

    .agreement li:nth-child(1n) {
        padding-right: .14rem;
    }

    .agreement ul.agree li {
        height: .32rem;
        line-height: .32rem;
    }

    .agreement ul.btn-line li {
        vertical-align: middle;
        margin-top: .06rem;
        margin-bottom: 0;
    }

    .agreement .text-icon {
        margin-right: .14rem;
        vertical-align: top;
        height: 100%;
    }

    .agreement .agree .text-icon {
        font-size: .4rem;
        margin-right: .2rem;
    }

    .voice-info {
        font-size: .3rem;
        color: #eb8706;
    }

    #deal-details .detail-title {
        background-color: #F8F9FA;
        padding: .2rem;
        font-size: .3rem;
        color: #000;
        border-bottom: 1px solid #ccc;
    }

    #deal-details .detail-title p {
        text-align: center;
    }

    #deal-details .detail-group {
        font-size: .3rem;
        display: -webkit-box;
        display: -ms-flexbox;
    }

    .detail-group .left {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        display: block;
        padding: .28rem 0;
        padding-right: .2rem;
    }

    .detail-group .right {
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-align: center;
        -ms-box-align: center;
        width: 1.2rem;
        padding: .28rem .2rem;
        border-left: 1px solid #ccc;
    }

    .detail-group .middle {
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-align: center;
        -ms-box-align: center;
        width: 1.7rem;
        padding: .28rem .2rem;
        border-left: 1px solid #ccc;
    }

    #deal-terms {
        font-size: .3rem;
    }

    .js-fav-btn .fav-text {
        vertical-align: top;
    }

    .js-fav-btn .fav-text:after {
        content: "收藏";
    }

    .js-fav-btn .icon-star {
        display: none
    }

    .js-fav-btn .icon-star-empty {
        display: inline-block
    }

    .js-fav-btn.faved .fav-text:after {
        content: "取消收藏";
    }

    .js-fav-btn.faved .icon-star {
        display: inline-block
    }

    .js-fav-btn.faved .icon-star-empty {
        display: none
    }

    .comment-headline {
        color: #999;
        line-height: .35rem;
    }

    /* 酒店和促N工具 */
    .hotel-desc-current {
        color: #999;
        margin-left: .08rem;
    }

    dl.list .hotel-price-panel {
        background: #f0efed;
        border-left: none;
        border-right: none;
    }

    .hotel-prices {
        padding: .1rem 0;
    
    }

    .hotel-prices>li {
        display: inline-block;
        width: 1.88rem !important;
        padding: .06rem .1rem .06rem .2rem;
        text-align: left;
        font-size: .24rem;
        color: #666;
    }

    .hotel-prices>li:after {
        content: ' ';
        display: table;
        margin-top: -30%;
        border-left: 1px solid #ccc;
        padding-top: 25%;
        float: right;
        clear: both;
    }

    .hotel-prices>li.active {
        color: #2dbeae;
    }
    .campaign .tag,
    .campaign-item .tag {
        position: static;
        margin-left: .04rem;
        background: #ff9712;
        color: #fff;
        padding: .04rem;
        font-size: .22rem;
        border-radius: .06rem;
    }

    .hotel-price {
        color: #ff8c00;
        font-size: .24rem;
        display: block;
    }

    .campaign {
        height: 0.9rem;
        line-height: 0.9rem;
        border-bottom: 1px solid #DDD8CE;

    }
    .campaign:last-child{
        border-bottom: 0;
    }
    .campaign.i2app:before{
        content:"APP专享" ;
        display: block;
        font-size: 0.24rem;
        color: #ff9900;
        padding: 0 0.08rem;
        height: 0.32rem;
        line-height: 0.32rem;
        border: 1px solid #ff9900;
        position: absolute;
        right: 0.5rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        pointer-events: none;
    }

    .campaign{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        color: #333333;
        padding-right: 0.2rem;
    }

    .campaign.more:after{
        right: 0.25rem;
        border-color: #666;
    }
    .campaign a{
        display: block;
        color: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .campaign.i2app a{
        padding-right: 1.8rem;
    }
    .campaign-tip {
        padding: 0 0 0 0.2rem;
        background-color: #fff;
        border-bottom: 1px solid #ddd8ce;
        color: #555;
    }
    .longTitle{
        color:#666;
        font-size: .26rem;
    }
    .btn-kefu {
        position: absolute;
        right: .016rem;
        top: .1rem;
        color: #ff8c00;
        border-color: #ff8c00;
    }

    /*tips deal-terms*/
    #deal-terms .dd-padding{
        padding-top: 0;
        padding-bottom: 0;
    }
    #deal-terms>dd>ul>li:first-child{
        margin-top: 0.4rem;
    }
    #deal-terms>dd>ul>li{
        margin-bottom: 0.4rem;
    }
    #deal-terms .tip-title{
        font-size: 0.3rem;
        color: #ff9900;
    }
    #deal-terms .tip-des{
        padding-top: 0.2rem;
        padding-left: 0.16rem;
        font-size: 0.3rem;
        color: #333333;
    }
    #deal-terms .ul{
        padding-left: 0.46rem;
    }
    #deal-terms .ul li{
        margin: 0;
        padding-top: 0.2rem;
    }

    /*cloud-tag*/
    .cloud-tag{
        padding-bottom: 0.22rem !important;
        padding-top: 0.19rem !important;
    }
    .cloud-tag a{
        float: left;
        /*height:0.60rem;*/
        margin-bottom: 0.14rem;
        margin-right: 0.1rem;
        /*padding: 0 0.05rem;*/
        /*line-height: 0.6rem;*/
        font-size: 0.28rem;
        padding: .15rem .11rem;
        border-radius: .04rem;
    }
    .feedback-wrapper .cloud-tag a{
        color: #999;
        border: 2px solid #ACACAC;
        border-radius: .06rem;
    }
    .cloud-tag a:active{
        background:#dedfe3;
    }
    .feedback-wrapper .cloud-tag a.tag-hot{
        color: #FDB338;
        border-color: #FDB338;
    }

    .cloud-tag a.tag-hot:active{
        background:#ffd8a6;
    }
    .cloud-tag .tag-num{
        margin-left: 0.05rem;
    }

    .simpleCard .dealcard-block-right{
        padding-bottom: .54rem;
        height: auto;
    }
    .simpleCard .text-block{
        height: auto;
        display: block;
    }

    /*收藏动画时间*/
    .msg-doc.msg-toast{
        -webkit-animation-duration: 3s;
    }

    /**相关分类标签**/
    #recommand{
        margin-top: .2rem;
    }
    #recommand .dealcard .title{
        margin-bottom: 0;

    }
    .cloud-tag a.tag-category{
        color: #e17f1e;
        background: #ffe195;
    }
    .cloud-tag a.tag-category:active{
        background:#ffd8a6;
    }
    /*霸王餐二期*/
    .freecard-note-wrapper{
        padding-left: 0.2rem;
        line-height: 3;
        font-size: 0.24rem;
        background-color: #fffaef;
        margin-bottom: 0.2rem;
    }
    .freecard-note-text{
        color: #666666;
    }
    .freecard-note-link{
        color: #06c1ae;
    }

    .spin-loading {
        display: inline-block;
        border-radius: 50%;
        width: .25em;
        height: .25em;
        box-shadow: 0 -0.4em 0 0 #999, -0.28em -0.28em 0 0 #999, -0.4em 0 0 0 #999, -0.28em 0.28em 0 0 #999;
        -webkit-animation: 0.85s rotateing-anim steps(8) infinite;
        -moz-animation: 0.85s rotateing-anim steps(8) infinite;
        animation: 0.85s rotateing-anim steps(8) infinite;
        position: absolute;
        left: 50%;
        top: 20%;
    }

    #feedback_async .list {
        opacity: 0;
    }

    .merchant .dist .text-icon{
        margin-right: .18rem;
    }
    .merchant .dist .dist-title{
        margin-left: .3rem;
        color: #EB8706;
    }
    /*dian ping skin*/

</style>
  <style>.msg-bg{background:rgba(0,0,0,.7);position:absolute;top:0;left:0;width:100%;z-index:998}.msg-doc{position:fixed;left:.3rem;right:.3rem;bottom:45%;border-radius:.06rem;background:#fff;overflow:hidden;z-index:999}.msg-hd{background:#f0efed;color:#333;text-align:center;padding:.28rem 0;overflow:hidden;font-size:.4rem;border-bottom:1px solid #DDD8CE}.msg-bd{font-size:.34rem;padding:.43rem;border-bottom:1px solid #D8D8D8}.msg-toast{background:rgba(0,0,0,.8);font-size:.4rem;color:#fff;border:0;text-align:center;padding:.4rem;-webkit-animation-name:pop-hide;-webkit-animation-duration:5s;border-radius:.12rem;bottom:60%;opacity:0;pointer-events:none}.msg-confirm,.msg-alert{-webkit-animation-name:pop;-webkit-animation-duration:.3s}.msg-option{-webkit-animation-name:slideup;-webkit-animation-duration:.3s}@-webkit-keyframes pop-hide{0%{-webkit-transform:scale(0.8);opacity:0}2%{-webkit-transform:scale(1.1);opacity:1}6%{-webkit-transform:scale(1)}90%{-webkit-transform:scale(1);opacity:1}100%{-webkit-transform:scale(0.9);opacity:0}}@-webkit-keyframes pop{0%{-webkit-transform:scale(0.8);opacity:0}40%{-webkit-transform:scale(1.1);opacity:1}100%{-webkit-transform:scale(1)}}@-webkit-keyframes slideup{0%{-webkit-transform:translateY(100%)}40%{-webkit-transform:translateY(-10%)}100%{-webkit-transform:translateY(0)}}.msg-ft{display:-webkit-box;display:-ms-flexbox;font-size:.34rem}.msg-ft .msg-btn{display:block;-webkit-box-flex:1;-ms-flex:1;margin-right:-1px;border-right:1px solid #D8D8D8;height:.88rem;line-height:.88rem;text-align:center;color:#06c1ae}.msg-btn:last-child{border-right:0}.msg-option{background:0;bottom:.5rem}.msg-option div:first-child,.msg-option .msg-option-btns:first-child .btn:first-child{border-radius:.06rem .06rem 0 0;border-top:0}.msg-option .btn{width:100%;background:#fff;border:0;color:#06c1ae;border-radius:0}.msg-option .msg-bd{background:#fff;border-bottom:0}.msg-option .btn{height:.8rem;line-height:.8rem;border-top:1px solid #ccc}.msg-option-btns .btn:last-child{border-radius:0 0 .06rem .06rem;border-bottom:1px solid #ccc}.msg-option .msg-btn-cancel{padding:0;margin-top:.14rem;color:#06c1ae;border-radius:.06rem}.msg-dialog .msg-hd{background-color:#fff}.msg-dialog .msg-bd{background-color:#f0efed}.msg-slide{background:0;bottom:0;left:0;right:0;border-radius:0;-webkit-animation-name:slideup;-webkit-animation-duration:.3s}</style>
  <style>.sticky-top,.sticky-bottom{position:fixed!important;z-index:10;top:0;left:0;box-sizing:border-box;-webkit-filter:drop-shadow(0 0 .06rem rgba(0,0,0,0.6));}.sticky-bottom{top:auto;bottom:0}</style>
  <style>.msg-doc.msg-share{bottom: initial;top: .3rem;text-align: right;background: transparent;color: white;font-size: .4rem;text-shadow: 0 0 4px black;}</style>
  <style>.nav-btn.collecting{display: inline-block;}.nav-btn.collected{display: none;}.faved .nav-btn.collecting{display: none;}.faved .nav-btn.collected{display: inline-block;}</style>
  <style type="text/css">body {
  padding: 0;
  margin: 0;
}
.reset-inner blockquote,
.reset-inner button,
.reset-inner dd,
.reset-inner dl,
.reset-inner dt,
.reset-inner fieldset,
.reset-inner form,
.reset-inner h1,
.reset-inner h2,
.reset-inner h3,
.reset-inner h4,
.reset-inner h5,
.reset-inner h6,
.reset-inner hr,
.reset-inner input,
.reset-inner legend,
.reset-inner li,
.reset-inner ol,
.reset-inner p,
.reset-inner pre,
.reset-inner td,
.reset-inner textarea,
.reset-inner th,
.reset-inner ul,
.reset-inner div,
.reset-inner a,
.reset-inner i,
.reset-inner span {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
}
.reset-inner a {
  text-decoration: none;
}
.star-rate-style .star-icon {
  font-family: base_icon;
  font-style: normal;
  display: inline-block;
  margin-right: .06rem;
  font-size: .24rem;
}
.star-rate-style .star-icon:after {
  content: '\2605';
}
.star-rate-style .star-icon-gray {
  color: #e2e2e2;
}
.star-rate-style .star-icon-half {
  position: relative;
  color: #e2e2e2;
}
.star-rate-style .star-icon-half:before {
  overflow: hidden;
  position: absolute;
  content: '\2605';
  width: .13rem;
  color: #f90;
}
.text-overflow-ellipsis-sl {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-overflow-ellipsis-ml {
  text-overflow: ellipsis;
  overflow: hidden;
}
#deal-ads-wrapper.replaced {
  margin-top: .2rem;
  border-bottom: 1px solid #DDD8CE;
  border-top: 1px solid #DDD8CE;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: .2rem;
  width: 100%;
  box-sizing: border-box;
}
#deal-ads-wrapper.replaced blockquote,
#deal-ads-wrapper.replaced button,
#deal-ads-wrapper.replaced dd,
#deal-ads-wrapper.replaced dl,
#deal-ads-wrapper.replaced dt,
#deal-ads-wrapper.replaced fieldset,
#deal-ads-wrapper.replaced form,
#deal-ads-wrapper.replaced h1,
#deal-ads-wrapper.replaced h2,
#deal-ads-wrapper.replaced h3,
#deal-ads-wrapper.replaced h4,
#deal-ads-wrapper.replaced h5,
#deal-ads-wrapper.replaced h6,
#deal-ads-wrapper.replaced hr,
#deal-ads-wrapper.replaced input,
#deal-ads-wrapper.replaced legend,
#deal-ads-wrapper.replaced li,
#deal-ads-wrapper.replaced ol,
#deal-ads-wrapper.replaced p,
#deal-ads-wrapper.replaced pre,
#deal-ads-wrapper.replaced td,
#deal-ads-wrapper.replaced textarea,
#deal-ads-wrapper.replaced th,
#deal-ads-wrapper.replaced ul,
#deal-ads-wrapper.replaced div,
#deal-ads-wrapper.replaced a,
#deal-ads-wrapper.replaced i,
#deal-ads-wrapper.replaced span {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
}
#deal-ads-wrapper.replaced a {
  text-decoration: none;
}
#deal-ads-wrapper.replaced .fl {
  float: left;
}
#deal-ads-wrapper.replaced .fr {
  float: right;
}
#deal-ads-wrapper.replaced .clearfix {
  clear: both;
}
#deal-ads-wrapper.replaced .group-container .group-header {
  font-size: .34rem;
  color: #999;
  border-bottom: 1px solid #DDD8CE;
  padding: .28rem 0;
}
#deal-ads-wrapper.replaced .group-container .group-header .tag {
  padding-right: .2rem;
}
#deal-ads-wrapper.replaced .group-container .group-item {
  padding: .28rem 0;
  position: relative;
  border-bottom: 1px solid #DDD8CE;
}
#deal-ads-wrapper.replaced .group-container .group-item .clickable {
  display: block;
}
#deal-ads-wrapper.replaced .group-container .group-item img.item-card-left {
  position: absolute;
  display: block;
  width: 1.84rem;
  height: 1.64rem;
  border-radius: .04rem;
  border: solid 1px rgba(0, 0, 0, 0.05);
}
#deal-ads-wrapper.replaced .group-container .group-item .item-card-right {
  font-size: 0;
  width: auto;
  margin-left: 2.08rem;
  padding-right: .2rem;
}
#deal-ads-wrapper.replaced .group-container .group-item .item-card-right .text-info-head {
  position: relative;
}
#deal-ads-wrapper.replaced .group-container .group-item .item-card-right .text-info-head .deal-title {
  display: inline-block;
  font-size: .3rem;
  color: #333;
  width: 80%;
}
#deal-ads-wrapper.replaced .group-container .group-item .item-card-right .text-info-head .deal-distance {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: .24rem;
  color: #999;
}
#deal-ads-wrapper.replaced .group-container .group-item .item-card-right .text-info-content {
  padding-top: .12rem;
  font-size: .24rem;
  color: #999;
  line-height: 1.41;
  height: .63rem;
}
#deal-ads-wrapper.replaced .group-container .group-item .item-card-right .text-info-footer {
  padding-top: .16rem;
}
#deal-ads-wrapper.replaced .group-container .group-item .item-card-right .text-info-footer span {
  vertical-align: middle;
  display: inline-block;
}
#deal-ads-wrapper.replaced .group-container .group-item .item-card-right .text-info-footer .deal-price {
  font-size: .36rem;
  color: #06c1ae;
  padding-right: .2rem;
}
#deal-ads-wrapper.replaced .group-container .group-item .item-card-right .text-info-footer .saved-price {
  color: #f90;
  border: .02rem solid #f90;
  font-size: .22rem;
  border-radius: .06rem;
  padding: 0 .06rem ;
  line-height: 1.5;
}
#deal-ads-wrapper.replaced .group-container .group-item .item-card-right .text-info-footer .saled-number {
  line-height: 1.5;
  font-size: .24rem;
  color: #999;
}
</style>