@charset "utf-8";
/* CSS Document */
/*本css是byheitu.com后台管理所有页面的全局css样式，请勿随意改动 Yancy 2014-09-26*/
/*圆角 按钮的圆角 全部是4px，弹出框的圆角 全部是10px*/


/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓全局颜色↓↓*/
/*请在相应地方使用相应的颜色,此颜色可在页面中随意使用
背景白:#ffe7d0 
最深:#7b0b18
颜色:#c20f24
浅:#f76273
最浅:#f8c1c7
除此以外 #333 #666 #999 #ccc等灰色也可以酌情使用
*/

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓全局格式化↓↓*/
*{ padding:0; margin:0; font-family:'微软雅黑';font-size:13px; line-height:24px;outline:none; border:none;color:#5f7288;word-break:break-all; word-wrap:break-word;} /*去掉谷歌浏览器中链接有黄色边框，全站的默认字体定义*/
body{ line-height:20px; word-break:break-all; word-wrap:break-word; background:#f9f9f9; width:100%;}
html{ overflow:auto; overflow-x:hidden;-webkit-text-size-adjust:none;}
a{text-decoration:none; cursor:pointer;}
b{ font-size:inherit; color:inherit;}
.bold{font-weight:}
img{ border:none;}
.clearB{ clear:both;}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓Button按钮样式↓↓*/
/*正常按钮*/
.btnNormal{display:inline-block; margin:10px auto; padding:3px 15px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; font-size:12px; font-weight:bold;background:#2a84d0;text-align:center;-moz-user-select: none; /*火狐*/
-webkit-user-select: none; /*webkit浏览器*/
-ms-user-select: none; /*IE10*/
-khtml-user-select: none; /*早期浏览器*/
user-select: none; color:#fff;
}
.btnNormal:hover{ background:#157ad0;}
.btnNormal:active{background:#157ad0;}

.btnNormalDisabled{ display:inline-block; margin:10px auto; padding:3px 15px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; font-size:12px; font-weight:bold;background: #999; text-align:center;-moz-user-select: none; /*火狐*/
-webkit-user-select: none; /*webkit浏览器*/
-ms-user-select: none; /*IE10*/
-khtml-user-select: none; /*早期浏览器*/
user-select: none;
color:#eee;
}
.btnNormalDisabled:hover{}

.bigButton{padding:6px 20px;}

.input{ padding:5px; line-height:20px; border:1px solid #ddd;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; width:400px; font-size:13px; margin:5px 0; color:#000;}
.textarea{ padding:6px; line-height:20px; height:100px;border:1px solid #ddd;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; width:400px; font-size:14px; margin:5px 0;resize: none; color:#000}
h1{font-size:20px; line-height:20px; padding:15px 0; font-weight:bold;}
h2{ font-size:16px; padding:15px 0; font-weight:bold;}
h2 span{ padding-left:10px; color:#666; font-weight:normal;}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓全局图标↓↓*/
.iconCtrl{display:inline-block; width:20px; height:20px; margin:0 3px;overflow:hidden;vertical-align:middle;}/*操作性icon*/
.iconCtrl:hover{filter:alpha(opacity=80);-moz-opacity:.8;opacity:.8;}
	.delete{background:url(../images/icon.png) -68px -105px; }/*操作：删除*/
	.edit{ background: url(../images/icon.png) -88px -105px;}/*操作：编辑*/
	.question{background: url(../images/icon.png) -50px -105px;}/*操作：问号*/
	.map{ background:url(../images/icon.png) -32px -105px;}/*地图打点*/
	.blacklist{background:url(../images/icon.png) -16px -105px;}/*拉黑*/
	.right{background:url(../images/icon.png) -181px -105px;}/*恢复 等操作*/
	.scanCoder{background:url(../images/icon.png) -198px -105px;}/*二维码*/
	.select{background:url(../images/icon.png) -220px -105px;}/*确定选择*/
	.normal{background:url(../images/icon.png) -300px -106px;}/*运行中*/
	.stop{background:url(../images/icon.png) -336px -106px;}/*已暂停*/

.iconGG{display:inline-block; width:15px; height:15px; margin:0 3px;overflow:hidden;vertical-align:middle;background:url(../images/icon.png) -78px -88px; }
.iconMM{display:inline-block; width:15px; height:15px; margin:0 3px;overflow:hidden;vertical-align:middle;background:url(../images/icon.png) -60px -88px; }
.iconNew{display:inline-block; width:15px; height:18px; margin:0 3px;overflow:hidden;vertical-align:middle;background:url(../images/icon.png) -165px -107px;}


.btnUpload{ display:inline-block; position:relative; z-index:8; text-indent:22px;}/*上传按钮*/
	.btnUpload span{ position:absolute; display:block; height:20px; width:20px; left:0; top:2px; background: url(../images/icon.png) -105px -105px;}
	.btnUpload input{display:block; position:absolute; top:0; left:0; background:#fff; width:100%; height:20px; filter:alpha(opacity=0);-moz-opacity:0;opacity:0; z-index:9;}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓全局文字Text,整站正文等用得最多的文字样式在*中设置↓↓*/
.textMini{ font-size:13px; color:#aaa;line-height:22px;}/*提示性的描述字体，淡雅*/
.textRed{ color:#ec2f2f; padding:0 2px; font-size:inherit;}/*红色高亮提醒文字*/
.textYellow{ color:#ED9B12; padding:0 2px; font-size:inherit;}/*绿色提醒文字*/
.textGreen{ color:#05d64f; padding:0 2px; font-size:inherit;}/*绿色提醒文字*/
.textH1{ font-size:20px; line-height:34px;}/*大号标题字体*/
.textH2{font-size:16px; line-height:28px;}/*小号标题字体*/

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓多页面可能会用到的Css↓↓*/
.paddingBtm10{ padding-bottom:10px;}/*布局padding底部10px*/
.paddingBtm30{ padding-bottom:30px;}/*布局padding底部30px*/
.paddingLeft20{ padding-left:20px;}/*布局padding左边20px*/
.marginBtm10{ margin-bottom:10px;}/*布局margin下边10px*/
.marginTop10{ margin-top:10px;}/*布局margin上边10px*/
.marginTop20{ margin-top:20px;}/*布局margin上边20px*/
/*回到顶部*/
.gotoTopBox{ width:50px; height:50px; position:fixed; z-index:6; top:90%; right:3%;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.gotoTop{float:left;width:50px; height:50px; text-align:center; line-height:50px; background:#7e9dc1; display:none;color:#fff; cursor:pointer;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.gotoTop:hover{ background:#2a3542;transition:background .1s ease-in;-moz-transition:background .1s ease-in;-o-transition:background .1s ease-in;-webkit-transition:background .1s ease-in;}


/*table样式*/
.tableMini{ border:1px solid #ecf0f5;word-break:break-all;word-wrap:break-word; text-align:center}
.tableMini tr{ padding:10px 0;word-break:break-all;word-wrap:break-word; }
.tableMini tr th{padding:5px 10px;border-bottom:1px solid #ecf0f5;word-break:break-all;word-wrap:break-word;}
.tableMini tr td{color:#7e9dc; padding:5px 15px;border-bottom:1px solid #ecf0f5; word-break:break-all;word-wrap:break-word;}
.tableMini tr td img{ margin:2px;word-break:break-all;word-wrap:break-word;}
